{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mypollapp/styles.css' %}"> 
    <title>MyPoll</title>
</head>
<body>
    <h1>This is The Questions Page of this Poll.</h1>   
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li>
                <a href = "{% url 'mypollapp:detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p> No polls atre available.</p>
{% endif %}
    
</body>
</html>
